:root {
  --primary-color: #026c62;
  --primary-text: League Spartan;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
p,
header {
  font-family: var(--primary-text);
}

h1 {
  font-size: 190px;
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 75px;
  color: rgb(195, 160, 227);
}
p {
  font-size: 20px;
}

header {
  font-size: 100px;
  text-align: center;
  margin-bottom: 40px;
}
div {
  font-family: var(--primary-text);
}
.title-page {
  background-color: blueviolet;
}
.intro {
  font-family: var(--primary-text);
  font-size: 15px;
  color: gray;
  margin: 25px;
  display: block;
  text-align: center;
}
.designprocesslink {
  background-color: blueviolet;
  box-shadow: var(--box-shadow);
}

.designprocesslink:hover {
  text-decoration: none;
  background-color: rgba(4, 66, 60, 1);
  transition: 0.5s;
}
.deljahphone {
  max-width: 400px;
}
.summary {
  background-color: rgb(195, 160, 227);
}
.journey {
  max-width: 900px;
  margin-top: 50px;
  margin-left: 100px;
}
