:root {
  --primary-color: #026c62;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 50px;
}

img {
  width: 700px;
}

.contactlink {
  background-color: #026c62;
  box-shadow: var(--box-shadow);
}
.designer-link {
  background-color: #026c6275;
  width: max-content;
}
.coder-link {
  background-color: #faca2a6b;
}
.designer-heading {
  font-size: 50px;
  text-align: center;
}
.coder-heading {
  font-size: 50px;
  text-align: center;
}
p {
  font-size: 15px;
  text-align: center;
}
