:root {
  --primary-color: #026c62;
  --primary-text: League Spartan;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 35px;
}

img {
  width: 700px;
}

.contactlink {
  background-color: #026c62;
  box-shadow: var(--box-shadow);
}
.designer-link {
  background-color: #026c6275;
  width: max-content;
}
.coder-link {
  background-color: rgba(250, 202, 42, 0.59);
  width: max-content;
}
.designer-heading {
  font-size: 70px;
  text-align: center;
  font-family: var(--primary-text);
}
.coder-heading {
  font-size: 70px;
  text-align: center;
  font-family: var(--primary-text);
}
.contactlink:hover {
  text-decoration: none;
}

p {
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: var(--primary-text);
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
  }
  img {
    display: none;
  }
  .contactlink {
    display: block;
    text-align: center;
  }
  .designer-link {
    margin-top: 30px;
  }
}
