:root {
  --primary-color: #026c62;
  --primary-text: League Spartan;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 45px;
  font-family: var(--primary-text);
}
h2 {
  font-size: 50px;
  font-family: var(--primary-text);
}
h3 {
  font-size: 150px;
  font-family: var(--primary-text);
  font-weight: 600;
}

h4 {
  font-family: var(--primary-text);
  font-size: 22px;
}

h5 {
  font-size: 100px;
  font-family: var(--primary-text);
}

img {
  width: 700px;
  height: 700px;
}

.project-text {
  color: black;
  text-align: left;
}
.primary-link {
  background-color: #026c62;
  box-shadow: var(--box-shadow);
}

.work-heading {
  font-family: var(--primary-text);
  font-weight: 700;
  font-size: 80px;
  text-align: center;
}
.envelope {
  font-size: 25px;
  text-align: end;
  margin-left: 15px;
}
.social {
  font-size: 25px;
  text-align: end;
  margin-left: 15px;
}
.email-contact {
  color: black;
  text-align: left;
}
.contactme {
  font-size: 65px;
  font-family: var(--primary-text);
  font-weight: 800;
}
.about-heading {
  background-color: #026c6275;
}
.headshot {
  width: 800px;
}
.contactlink {
  background-color: #026c62;
  box-shadow: var(--box-shadow);
}
.designer-link {
  background-color: #026c6275;
  width: max-content;
}
.coder-link {
  background-color: rgba(255, 204, 33, 0.67);
  width: max-content;
}
.designer-heading {
  font-size: 70px;
  text-align: center;
  font-family: var(--primary-text);
}
.coder-heading {
  font-size: 70px;
  text-align: center;
  font-family: var(--primary-text);
}
.contactlink:hover {
  text-decoration: none;
  background-color: rgba(4, 66, 60, 1);
  transition: 0.5s;
}
.primary-link:hover {
  text-decoration: none;
  background-color: rgba(4, 66, 60, 1);
  transition: 0.5s;
}

p {
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: var(--primary-text);
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
  }
  img {
    display: none;
  }
  .contactlink {
    display: block;
    text-align: center;
  }
  .designer-link {
    margin-top: 30px;
  }
  .work-heading {
    font-size: 45px;
  }
}
